body {
    background-color: white;
}

h1 {
    color: navy;
}

#wrapper {
	text-align:center;
    background-color: white;
	background-position: center;
	background-repeat: repeat-y;
	position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    height: 1200px;
}

#header {
    background-color: pink;
    width: 1200px;
    height: 100px;
    background-image: url("images/logoBanner.png");
}


#mapWrapper {
    background-color: grey;
    width: 1200px;
    height: 600px;
}

#toolsWrapper {
    background-color: white;
    width: 400px;
    height: 600px;
    float: right;
}

#map {
    background-color: white;
    width: 1190px;
    height: 590px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;

}