p {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

body {
    background-color: white;
}



.wrapper {
	text-align:center;
    background-color: pink;
	background-position: center;
	background-repeat: repeat-y;
	position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    height: 1310px;
}

.header {
    width: 1200px;
    height: 100px;
    margin-top: 10px;
    background-color: orange;
    background-image: url("images/logoBanner.png");

}
.bottomHeader {
    width: 1100px;
    height: 250px;
    background-color: orange;
    float: left;
}

.toolsWrapper {
    background-color: white;
    width: 400px;
    height: 600px;
    float: right;
}

.reportItem {
    background-color: red;
    width: 400px;
    height: 600px;
}

.mapWrapper {
    width: 600px;
    height: 600px;
    float: left;
}

#olMap {

    width: 600px;
    height: 600px;
    float: left;
}

.menu {
    width: 1200px;
    height: 50px;
/*     float: left; */
}

.mapControls {
    background-color: green;
    width: 500px;
    height: 600px;
    float: left;
}

.postcodeInput {
    background-color: green;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

.bngInput {
    background-color: green;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

.intro {
    background-color: white;
    height: 200px;
    width: 1200px;
    margin: 0px;
}

.topContent {
    background-color: yellow;
    width: 1150px;
    height: 1130px;
/*     float: left; */
}

.bottomContent {
    background-color: blue;
    width: 1100px;
    height: 300px;
    position: relative;
/*     bottom:260px; */
    float: left;
}

.sidePaddingLeft {
    background-color: red;
    width: 50px;
    height: 1150px;
    float: left;
}

.sidePaddingRight {
    background-color: red;
    width: 50px;
    height: 1150px;
    float: right;
}

.resultWrapper {
    background-color: red;
    width: 1080px;
/*     height: 280px; */
    position: relative;
    right: 10px;
    bottom: 270px;
    float: right;
}

.resultIndicator {
    background-color: white;
    width: 1060px;
    height: 80px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    left: 10px;
    top: 10px;
    float: left;
}

.resultIndicatorLight {
    background-color: grey;
    width: 70px;
    height: 70px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    left: 5px;
    top: 5px;
    float: left;
}

.resultIndicatorHeader {
    background-color: grey;
    width: 305px;
    height: 25px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    left: 5px;
    top: 5px;
    text-align: left;
    float: left;
}

.resultIndicatorText {
    background-color: grey;
    width: 665px;
    height: 70px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 0px;
    left: 0px;
    top: 5px;
    text-align: left;
    float: left;
}

input[type=text] {
 	color: black;
 	font-family: "Courier New";
 	font-size: 40px;
 	width: 280px;
 	height: 60px;
 	border: none;
 	float: left;
 	margin-top: 20px;
 	padding: 10px;
 	position: relative;
 	right: 580px;
 	background: white url(image) 0 0 no-repeat; 
}

input[type=submit] {
 	font-family: "Courier New";
 	font-size: 40px;
 	width: 180px;
 	height: 60px;
 	border: none;
 	float: left;
 	margin-top: 20px;
 	padding-bottom: 20px;
 	position: relative;
  	right: 570px; 
}
input[type=generate] {
 	font-family: "Courier New";
 	font-size: 40px;
 	width: 180px;
 	height: 60px;
 	border: none;
 	float: left;
 	margin-top: 20px;
 	padding-bottom: 20px;
 	position: relative;
  	right: 570px; 
}