<!DOCTYPE html>
<html>
  <head>
    <title>EnviroLocal</title>
    <link href="static/css.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">


  </head>
  <body>
    <div class="wrapper">
    	<div class = "header"></div>
      
<!-- 
    	<div class="menu">
    		<p><a href = "/">Home</a> <a href = "/content"> Adding Page</a></p>      
    	</div>
 -->
      
      	<div class = "sidePaddingLeft"></div>
      
      	<div class = "mapWrapper"></div>
      	
        <div class = "sidePaddingRight"></div>

	    <div class = "topContent">
  	    	<div class = "intro">
  	    	<h1 style="font-family:'Courier New';font-size: 40px; text-align: left; white-space: nowrap; position: relative; right: 580px;">Superlative laden boasting</h1>
			<p style="font-family:'Courier New';font-size: 20px; text-align: left; line-height: 28px; position: relative; right: 580px;">
				The Ben way</p>
			</p>
  	    	</div>

	    	<div class = "postcodeInput">
	    	      <form action="" method="post">
      			  <input type="text" placeholder="postcode" name="postcode" value="{{request.form.postcode }}">
      			  <input type="submit" name="btn" value="Search">
			      </form>
	    	</div>
	    </div>

        <div class = "bottomHeader"></div>

    </div>
      
      
    
	  </div>
  </body>
</html>